@media (max-width: 1025px) {
    .text-section h1 {
        font-size: 46px;
    }

    .image-section{
        height: auto;
        margin-left: 10%;
    }
}    

/* TABLET SCREEN SIZES */
@media (max-width: 769px) {
    .container {
        width: 90%;
    }

    .road-assistance {
        display: none;
    }

    .navigation {
        border: none;
    }

    .first-section {
        padding: 0px;
    }

    .first-section .image-section {
        height: auto;
    }

    .text-section h2 {
        font-size: 30px;
        padding-top: 30px;
    }

    .text-section p {
        padding-top: 10px;
        padding-bottom: 30px;
        font-size: 13px;
        line-height: 19px;
    }

    .text-section a {
        font-size: 13px;
        margin-bottom: 30px;
    }

    .second-section-left h3 {
        font-size: 33px;
    }

    .second-section-left p {
        font-size: 15px;
        line-height: 24px;
    }

    .third-section-top {
        padding: 0px 20px;
    }

    .third-section-top-left, .third-section-top-right {
        width: 47%;
    }

    .processes p {
        font-size: 14px;
    }

    .third-section-bottom {
        padding: 50px 20px;
    }

    .third-section-bottom-left, .third-section-bottom-right {
        width: 47%;
    }

    .third-section-bottom-right h2 {
        font-size: 26px;
    }

    .third-section-bottom-right p {
        padding: 15px 0px;
    }

    .third-section-bottom-right a {
        font-size: 14px;
    }

    #last-section {
        padding: 60px 0px;
    }

    .last-section-left h2 {
        font-size: 34px;
        padding-bottom: 50px;
    }

    .last-section-right .text {
        font-size: 11px;
    }

    .last-section-right .number {
        font-size: 14px;
        padding-bottom: 20px;
    }

    .main-footer {
        align-items: stretch;
        justify-content: space-around;
    }

    .footer-right {
        flex-direction: column;
    }

    .footer-navigation ul {
        margin-right: 0px;
    }

    .copyright {
        margin-top: 20px;
    }
}

/* MOBILE SCREEN SIZES */
@media(max-width: 426px) {
    .container {
        width: 80%;
    }

    .main-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-right {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 20px;
        width: 100%;
        display: none;
    }

    .header-right ul {
        flex-direction: column;
    }

    .header-right ul li {
        padding-bottom: 20px;
        margin-right: 0px;
    }

    .header-right ul li a {
        display: block;
    }

    .navigation {
        border: none;
        width: 100%;
    }

    .road-assistance {
        align-items: flex-start;
    }

    .road-assistance .call-logo {
        margin-left: 0px;
    }

    .first-section {
        flex-direction: column;
        padding: 0px;
    }

    .first-section .image-section {
        width: 100%;
        height: 80vh;
    }

    .first-section .text-section {
        width: 100%;
        padding: 0px 30px;
    }

    .text-section h2 {
        font-size: 28px;
        padding-top: 30px;
    }

    .text-section p {
        padding-top: 10px;
        padding-bottom: 30px;
        font-size: 11px;
        line-height: 17px;
    }

    .text-section a {
        font-size: 13px;
        margin-bottom: 30px;
    }

    .second-section {
        flex-direction: column;
    }

    .second-section-left {
        width: 100%;
    }

    .second-section-right {
        width: 100%;
        padding-top: 30px;
    }

    .second-section-left h3 {
        font-size: 24px;
        padding-bottom: 8px;
    }

    .second-section-left p {
        font-size: 12px;
        line-height: 16px;
    }

    .second-section-left a {
        padding-top: 16px;
        font-size: 12px;
    }

    .second-section-left a img {
        padding-left: 8px;
        width: 18%;
    }

    .service-we-offer-options, .service-we-offer-options-bottom, .service-we-offer-options-auto-diagnostics {
        height: 100px;
    }

    .third-section-top {
        flex-direction: column;
        padding: 0px;
    }

    .third-section-top-left {
        width: 100%;
        order: 2;
        padding-top: 30px;
    }

    .third-section-top-left h2 {
        font-size: 23px;
    }

    .processes p {
        font-size: 14px;
    }

    .third-section-top-right {
        order: 1;
        width: 100%;
        height: 100vh;
        flex-direction: column;
    }

    .black-car, .colored-car {
        width: 100%;
    }

    .colored-car {
        margin-top: 10px;
    }

    .third-section-bottom {
        flex-direction: column;
        padding: 50px 0px 0px 0px
    }

    .third-section-bottom-left {
        width: 100%;
        height: 100vh;
        flex-direction: column;
        padding-bottom: 30px;
    }

    .car-tire, .car-bonnet {
        width: 100%;
    }
    .car-bonnet {
        margin-top: 10px;
    }

    .third-section-bottom-right {
        width: 100%;
    }

    .third-section-bottom-right h2 {
        font-size: 22px;
    }

    .third-section-bottom-right p {
        font-size: 13px;
        line-height: 20px;
        padding: 15px 0px;
    }

    .third-section-bottom-right a {
        font-size: 13px;
    }

    #last-section {
        padding: 50px 0px;
    }

    #last-section .last-section {
        flex-direction: column;
    }

    .last-section-left {
        width: 100%;
    }

    .last-section-right {
        width: 100%;
    }

    .last-section-left h2 {
        font-size: 30px;
        padding-bottom: 20px;
    }

    .social-media-section {
        padding-bottom: 30px;
    }

    .last-section-right .text {
        font-size: 10px;
    }

    .last-section-right .number {
        font-size: 13px;
        padding-bottom: 15px;
    }

    .main-footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-left {
        padding-bottom: 20px;
    }

    .footer-right {
        flex-direction: column;
        width: 100%;
    }

    .footer-navigation {
        width: 100%;
        text-align: center;
    }

    .footer-navigation ul {
        flex-direction: column;
        margin-right: 0px;
    }

    .footer-navigation ul li {
        margin-right: 0px;
        padding-bottom: 20px;
    }

    .footer-navigation ul li a {
        display: block;
    }
}