@media (max-width: 1025px) {
    .rating {
        margin-left: 140px;
    }

    .third-section-right {
        padding-right: 0px;
    }

    .fourth-section-heading h2 {
        padding-left: 120px;
        padding-right: 120px;
    }

    .brands .each-brand img {
        width: 100%;
    }

    .footer-navigation ul {
        margin-right: 0px;
    }
}

@media (max-width: 769px) {
    .container {
        width: 90%;
    }

    .road-assistance {
        display: none;
    }

    .navigation {
        border: none;
    }

    .first-section-left h1 {
        font-size: 36px;
    }

    .quick-services {
        width: 152px;
        height: 70px;
        border: 7px solid rgba(225, 225, 225, 0.5);
        margin-left: -25px;
        margin-top: 66px;
    }

    .green-24hr {
        position: absolute;
        width: 40px;
        height: 40px;
        top: -2px;
        left: -3px;
    }

    .green-24hr h5 {
        padding: 10px 0px;
    }

    .quick-services p {
        font-size: 11px;
        font-weight: 800;
        top: 11px;
        left: 43px;
    }

    .rating {
        width: 180px;
        height: 70px;
        margin-left: 150px;
        margin-bottom: 50px;
        border: 7px solid rgba(225, 225, 225, 0.5);
    }

    .rating-number-text {
        padding-left: 5px;
    }

    .rating-number {
        font-size: 15px;
    }

    .rating-text {
        font-size: 12px;
    }

    .stars img {
        width: 110px;
        height: 20px;
    }

    .second-section-left h2 {
        font-size: 30px;
        padding-bottom: 20px;
    }

    .convenient-service {
        padding-bottom: 20px;
    }

    .convenient-service-textHeading {
        font-size: 18px;
        padding-bottom: 6px;
    }

    .convenient-service-textNote {
        font-size: 12px;
    }

    .convenient-service-icon {
        margin-right: 10px;
    }

    .convenient-service-icon img {
        width: 95%;
    }

    .expert-mechanics {
        padding-bottom: 20px;
    }

    .expert-mechanics-textHeading {
        font-size: 18px;
        padding-bottom: 6px;
    }

    .expert-mechanics-textNote {
        font-size: 12px;
    }

    .expert-mechanics-icon {
        margin-right: 10px;
    }

    .expert-mechanics-icon img {
        width: 95%;
    }

    .pricing {
        padding-bottom: 20px;
    }

    .pricing-textHeading {
        font-size: 18px;
        padding-bottom: 6px;
    }

    .pricing-textNote {
        font-size: 12px;
    }

    .pricing-icon {
        margin-right: 10px;
    }

    .pricing-icon img {
        width: 95%;
    }

    .more-aboutUs a {
        font-size: 14px;
        text-decoration: none;
    }

    .more-aboutUs img {
        padding-left: 12px;
    }

    .second-section-right h2 {
        font-size: 26px;
        padding-bottom: 14px;
    }

    .get-quote input[type="submit"] {
        margin-top: 30px;
        margin-bottom: 0px;
    }

    .third-section {
        padding: 34px 0px;
    }

    .third-section-left h2 {
        padding-top: 0px;
        font-size: 30px;
    }
    .third-section-right {
        padding-right: 0px;
        padding-bottom: 30px;
    }

    .processes {
        padding-bottom: 10px;
    }

    .process-paragraph, .process-paragraph3 {
        margin-top: 0px;
    }

    .process-01 h4, .process-02 h4, .process-03 h4 {
        padding-bottom: 0px;
        padding-top: 19px;
    }

    #fourth-section {
        padding: 50px 0px;
    }

    .fourth-section-heading p {
        font-size: 18px;
    }

    .fourth-section-heading h2 {
        font-size: 24px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 30px;
    }
    
    .contactUs-box {
        padding-right: 10px;
    }

    .contactUs-box h2 {
        font-size: 25px;
        padding-top: 50px;
    }

    .contactUs-box a {
        font-size: 13px;
    }

    #fifth-section {
        padding-top: 70px;
    }

    .fifth-section h2 {
        font-size: 30px;
        padding-bottom: 0px;
    }

    .each-brand {
        width: 33%;
    }

    .each-brand img {
        width: 100%;
    }

    #sixth-section h2 {
        font-size: 34px;
        padding: 0px 0px 30px 0px;
    }

    .comment {
        padding: 30px;
    }

    .comments .top-section {
        padding-bottom: 18px;
    }

    .comment p {
        font-size: 16px;
    }

    #seventh-section h2 {
        font-size: 30px;
        padding-bottom: 40px;
    }

    .question {
        width: 80%;
        padding: 20px;
    }

    .question .heading h4 {
        font-size: 16px;
    }

    .question p {
        font-size: 12px;
        line-height: 20px;
    }

    #last-section {
        padding: 60px 0px;
    }

    .last-section-left h2 {
        font-size: 34px;
        padding-bottom: 50px;
    }

    .last-section-right .text {
        font-size: 11px;
    }

    .last-section-right .number {
        font-size: 14px;
        padding-bottom: 20px;
    }

    .main-footer {
        align-items: stretch;
        justify-content: space-around;
    }

    .footer-right {
        flex-direction: column;
    }

    .footer-navigation ul {
        margin-right: 0px;
    }

    .copyright {
        margin-top: 20px;
    }

}

@media (max-width: 730px) {
    .rating {
        margin-left: 130px;
    }
}
@media (max-width: 690px) {
    .rating {
        margin-left: 110px;
    }
}
@media (max-width: 640px) {
    .rating {
        margin-left: 90px;
    }
}
@media (max-width: 600px) {
    .rating {
        margin-left: 70px;
    }
}
@media (max-width: 580px) {
    .rating {
        margin-left: 62px;
    }
}
@media (max-width: 550px) {
    .rating {
        margin-left: 50px;
    }

    .contactUs-box h2 {
        font-size: 20px;
    }
}
@media (max-width: 520px) {
    .rating {
        margin-left: 44px;
    }
}
@media (max-width: 490px) {
    .rating {
        margin-left: 30px;
    }
}
@media (max-width: 450px) {
    .rating {
        margin-left: 26px;
    }
}

@media(max-width: 426px) {
    .container {
        width: 80%;
    }

    .main-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-right {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 20px;
        width: 100%;
        display: none;
    }

    .header-right ul {
        flex-direction: column;
    }

    .header-right ul li {
        padding-bottom: 20px;
        margin-right: 0px;
    }

    .header-right ul li a {
        display: block;
    }

    .navigation {
        border: none;
        width: 100%;
    }

    .road-assistance {
        align-items: flex-start;
    }

    .road-assistance .call-logo {
        margin-left: 0px;
    }

    .first-section {
        flex-direction: column;
        padding-bottom: 0px;
    }

    .first-section-left {
        width: 100%;
        padding: 0px;
        order: 2;
    }

    .first-section-left h1 {
        font-size: 32px;
    }

    .first-section-left a {
        margin-bottom: 30px;
        font-size: 13px;
        padding: 14px 34px;
    }

    .first-section-right {
        width: 100%;
        order: 1;
        margin-bottom: 50px;
    }

    .quick-services {
        width: 180px;
        height: 70px;
        border: 7px solid rgba(225, 225, 225, 0.5);
        margin-left: -25px;
        margin-top: 54px;
    }

    .green-24hr {
        position: absolute;
        width: 40px;
        height: 40px;
        top: -2px;
        left: -3px;
    }

    .green-24hr h5 {
        padding: 10px 0px;
    }

    .quick-services p {
        font-size: 14px;
        top: 10px;
        left: 46px;
    }

    .rating {
        width: 180px;
        height: 70px;
        margin-left: 180px;
        margin-bottom: 50px;
        border: 7px solid rgba(225, 225, 225, 0.5);
    }

    .rating-number-text {
        padding-left: 5px;
    }

    .rating-number {
        font-size: 15px;
    }

    .rating-text {
        font-size: 12px;
    }

    .stars img {
        width: 110px;
        height: 20px;
    }

    .second-section {
        flex-direction: column;
        padding: 60px 0px;
    }

    .second-section-left {
        width: 100%;
        padding-bottom: 40px;
    }

    .second-section-left h2 {
        font-size: 32px;
        padding-bottom: 30px;
    }

    .convenient-service {
        padding-bottom: 20px;
    }

    .convenient-service-textHeading {
        font-size: 18px;
        padding-bottom: 6px;
    }

    .convenient-service-textNote {
        font-size: 12px;
    }

    .convenient-service-icon {
        margin-right: 10px;
    }

    .convenient-service-icon img {
        width: 95%;
    }

    .expert-mechanics {
        padding-bottom: 20px;
    }

    .expert-mechanics-textHeading {
        font-size: 18px;
        padding-bottom: 6px;
    }

    .expert-mechanics-textNote {
        font-size: 12px;
    }

    .expert-mechanics-icon {
        margin-right: 10px;
    }

    .expert-mechanics-icon img {
        width: 95%;
    }

    .pricing {
        padding-bottom: 20px;
    }

    .pricing-textHeading {
        font-size: 18px;
        padding-bottom: 6px;
    }

    .pricing-textNote {
        font-size: 12px;
    }

    .pricing-icon {
        margin-right: 10px;
    }

    .pricing-icon img {
        width: 95%;
    }

    .more-aboutUs a {
        font-size: 14px;
        text-decoration: none;
    }

    .more-aboutUs img {
        padding-left: 12px;
    }

    .second-section-right {
        width: 100%;
    }

    .second-section-right h2 {
        font-size: 26px;
        padding-bottom: 14px;
    }

    .get-quote input[type="text"], .get-quote input[type="number"] {
        padding: 14px 24px;
    }

    .get-quote button {
        font-weight: 400;
        font-size: 13px;
        padding: 14px 34px;
    }

    .third-section {
        flex-direction: column;
        padding: 0px;
    }

    .third-section-left {
        width: 100%;
        padding-bottom: 30px;
    }

    .third-section-left h2 {
        padding-top: 0px;
        font-size: 30px;
    }

    .learn-more-btn a {
        font-size: 13px;
        padding: 14px 44px;
    }

    .third-section-right {
        width: 100%;
        padding-right: 0px;
        padding-bottom: 30px;
    }

    .processes {
        padding-bottom: 10px;
    }

    .purple-circle-01 h1, .purple-circle-02 h1, .purple-circle-03 h1 {
        top: 14px;
        left: 14px;
    }

    .process-01 h4, .process-02 h4, .process-03 h4 {
    padding-bottom: 0px;
    }

    #fourth-section {
        padding-top: 50px;
        padding-bottom: 0px;
    }

    .fourth-section-heading p {
        font-size: 18px;
    }

    .fourth-section-heading h2 {
        font-size: 24px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 30px;
    }

    .what-we-offer-options, .what-we-offer-options-wheel {
        width: 50%;
    }

    .learn-about-services {
        padding-top: 20px;
        padding-right: 0px;
    }

    .learn-about-services a {
        font-size: 14px;
        font-size: 13px;
        padding: 14px 34px;
    }

    .learn-about-services img {
    margin-left: 12px;
    }

    .car-image, .tools-image {
        height: 90px;
        width: 100%;
    }

    .car-tools-image {
        flex-direction: column;
        margin-bottom: 15px;
    }

    .service-rating {
        flex-direction: column;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 28px;
    }

    .service-rating-samples {
        padding-bottom: 5px;
    }

    .contactUs-box {
        height: 90px;
        width: 100%;
        text-align: center;
        /* margin-left: 100px; */
        padding: 15px;
    }

    .contactUs-box h2 {
        font-size: 10px;
        padding: 0px;
        margin-bottom: 12px;
    }

    .contactUs-box a {
        margin-left: 0px;
        padding: 8px 20px;
        font-size: 8px;
    }

    .service-rating h2 {
        font-size: 20px;
    }

    .service-rating p {
        font-size: 10px;
    }

    .fifth-section h2 {
        font-size: 30px;
    }

    .each-brand {
        width: 50%;
    }

    .each-brand img {
        width: 100%;
    }

    #sixth-section {
        padding-bottom: 50px;
    }

    #sixth-section h2 {
        font-size: 24px;
        padding: 0px 0px 30px 0px;
    }

    #sixth-section .comments {
        flex-direction: column;
    }

    .comment {
        width: 100%;
        margin-bottom: 8px;
        padding: 24px;
    }

    .comments .top-section {
        padding-bottom: 12px;
    }

    .comment p {
        font-size: 12px;
        line-height: 18px;
    }

    .lines img, .swipe-arrows .black{
        display: none;
    }

    #seventh-section {
        padding: 50px 0px;
    }

    #seventh-section h2 {
        padding-bottom: 30px;
        font-size: 26px
    }

    .question {
        margin-bottom: 6px;
        width: 100%;
        padding: 15px;
    }

    .question .heading h4 {
        font-size: 12px
    }

    .question p {
        padding-right: 0px;
        font-size: 10px;
        width: 90%;
        padding-top: 5px;
    }

    #last-section {
        padding: 50px 0px;
    }

    #last-section .last-section {
        flex-direction: column;
    }

    .last-section-left {
        width: 100%;
    }

    .last-section-right {
        width: 100%;
    }

    .last-section-left h2 {
        font-size: 30px;
        padding-bottom: 20px;
    }

    .social-media-section {
        padding-bottom: 30px;
    }

    .last-section-right .text {
        font-size: 10px;
    }

    .last-section-right .number {
        font-size: 13px;
        padding-bottom: 15px;
    }

    .main-footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-left {
        padding-bottom: 20px;
    }

    .footer-right {
        flex-direction: column;
        width: 100%;
    }

    .footer-navigation {
        width: 100%;
        text-align: center;
    }

    .footer-navigation ul {
        flex-direction: column;
        margin-right: 0px;
    }

    .footer-navigation ul li {
        margin-right: 0px;
        padding-bottom: 20px;
    }

    .footer-navigation ul li a {
        display: block;
    }
}

@media(max-width: 400px) {
    .rating {
        margin-left: 150px;
    }

    /* .contactUs-box a {
        padding: 6px 15px;
    } */

    /* .contactUs-box h2 { 
        margin-bottom: 7px;
    } */

    .get-quote input[type="submit"] {
        margin-top: 20px;
    }
}
@media (max-width: 360px) {
    .rating {
        margin-left: 120px;
    }

    /* .contactUs-box a {
        padding: 4px 13px;
    } */

    /* .contactUs-box h2 { 
        margin-bottom: 5px;
    } */

    .get-quote input[type="submit"] {
        margin-top: 16px;
    }
}
@media (max-width: 330px) {
    .rating {
        margin-left: 90px;
    }

    /* .contactUs-box a {
        padding: 3px 10px;
    } */

    /* .contactUs-box h2 { 
        margin-bottom: 3px;
    } */

    .get-quote input[type="submit"] {
        margin-top: 10px;
    }
}